@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@theme {
    --spacing-xxl: clamp(1rem, 5vw, 4rem);

    --color-primary: #f8d57e;
    --color-secondary: #eadaff;
    --color-background: #f9f9f9;
    --color-text-primary: #333333;
    --color-danger: #bb2124;
    --color-success: #22bb33;
    --color-warning: #f0ad4e;
    --color-message-bg: #48a6cf;

    --color-primary-dark: #f8d57e;
    --color-secondary-dark: #eadaff;
    --color-background-dark: #1b1b1b;
    --color-text-primary-dark: #f0f0f0;
    --color-danger-dark: #ff5c5c;
    --color-success-dark: #34d399;
    --color-warning-dark: #fbbf24;
    --color-message-bg-dark: #38bdf8;
}

body {
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    @apply bg-background text-text-primary;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
    @apply rounded-full bg-secondary;
}

.carousel-wrapper {
    @apply mt-6;
}
.carousel {
    animation: scroll 30s linear infinite;
}

.carousel-wrapper:hover .carousel {
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.carousel-wrapper::before,
.carousel-wrapper::after {
    content: "";
    width: 50px;
    background: var(--color-background);
    position: absolute;
    height: 120%;
    filter: blur(10px);
    top: -16px;
    z-index: 40;
}

.carousel-wrapper::after {
    right: -20px;
}

.carousel-wrapper::before {
    left: -20px;
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translatex(0);
    }
}

.message-list::-webkit-scrollbar {
    width: 6px;
}

.message-list::-webkit-scrollbar-track {
    border-radius: 9999px;

    @apply bg-amber-300;
}

.message-list::-webkit-scrollbar-thumb {
    @apply bg-text-primary;
    border-radius: 9999px;
}

.popover-comment-btn {
    anchor-name: --popover-comment-btn;
}

.popover {
    position: absolute;
    margin: 0;
    inset: auto;
    position-anchor: --popover-comment-btn;
    top: anchor(top);
    right: anchor(left);
}

.popover:popover-open {
    display: grid;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in allow-discrete;
    animation-fill-mode: forwards;
}

.settings-nav-links li {
    overflow: hidden;
}

.settings-nav-links li::after {
    transition: scale 300ms, translate 250ms;
}

.settings-nav-links li:hover + li::after {
    translate: -100%;
}

.settings-nav-links li:has(+ :hover)::after {
    translate: 100%;
}

.portfolio-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-inline: auto;
}
