@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@theme {
    --spacing-xxl: clamp(1rem, 5vw, 4rem);

    --color-primary: #ffa500;
    --color-secondary: #008080;
    --color-background: #f5f5dc;
    --color-text-primary: #708090;
    --color-text-secondary: #333333;
    --color-danger: #bb2124;
    --color-success: #22bb33;
    --color-warning: #f0ad4e;
}

body {
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    @apply bg-background text-text-primary;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
    @apply rounded-full bg-secondary;
}

.carousel-wrapper {
    @apply mt-6;
}
.carousel {
    animation: scroll 30s linear infinite;
}

.carousel-wrapper:hover .carousel {
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.carousel-wrapper::before,
.carousel-wrapper::after {
    content: "";
    width: 50px;
    background: var(--color-background);
    position: absolute;
    height: 120%;
    filter: blur(10px);
    top: -16px;
    z-index: 40;
}

.carousel-wrapper::after {
    right: -20px;
}

.carousel-wrapper::before {
    left: -20px;
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translatex(0);
    }
}
